
.works__inner{
  display: flex;
  justify-content: space-between;
}

.woks__col{
  width: 25%;
}

.works__item{
  position: relative;
  background: linear-gradient(#f38181, #fce38a);
}

.works__item:hover .works__img{
  opacity: .1;
}

.works__item:hover .works__text{
  opacity: 1;
}

.works__img {
  display: block;
  width: 100%;
  opacity: 1;

  transition: opacity .2s linear;
}

.works__text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  opacity: 0; 

  transform: translateY(-50%);

  transition: opacity .2s linear;
}

.worsk__title{
  font-size: 14px ;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 8px 0;
}

.works__sub{
  font-size: 15px ;
  font-weight: 300;
  color: #fff;
  font-family: "Roboto";
  font-style: italic;
}